@import url('https://fonts.googleapis.com/css?family=Open+Sans|Work+Sans');

$color1: #646BEB;
$color2: #6BDAED;
$color3: #5B5A5C;
$color4: #DCDCDC;
$color5: white;
$color6: black;
$color7: #B37D62;
$color8: #F0CCA0;


$bg-gradient: linear-gradient(-45deg, $color1, $color2);

$fontset1: 'Work Sans',
sans-serif;
$fontset2: 'Open Sans',
sans-serif;

$breekpunt1: 450px;
$breekpunt2: 650px;
$breekpunt3: 1200px;

* {
    padding: 0;
    margin: 0;
    font-family: $fontset2;
    box-sizing: border-box;
}

/*Titels/Paragrafen*/

p {
    color: $color6;
}

.tussentitel {
    font-family: $fontset2;
    color: $color3;
    font-size: 32px;
}

h1 {
    color: $color1;
    font-size: 90px;
    font-family: $fontset1;
    font-weight: 800;
    margin-top: 10%;
    margin-bottom: 20px;


    @media (max-width: $breekpunt1) {
        font-size: 20px;
        text-align: center;
    }

    @media (max-width: $breekpunt2) {
        font-size: 65px;
        text-align: center;
    }

    @media (max-width: $breekpunt3) {
        font-size: 50px;
    }
}

.h3ondertitel {
    font-size: 18px;
    color: $color3;

    @media (max-width: $breekpunt1) {
        font-size: 15px;
        text-align: center;
    }
}

/* Navigatiebar*/
.nav {
    background-color: $color2 !important;
}

.navbar {
    background-color: $color5 !important;
}

.navbar-brand {
    font-family: $fontset1;
    color: $color1 !important;
    font-weight: 800;
    margin-top: 10px;
}

.nav-item {
    .nav-link {
        padding-right: 1em !important;
        color: $color6 !important;
        margin-top: 10px;

        &:hover {
            border: 2px $color1 solid;
            border-radius: 30px;
        }

        &:active {
            border: 1px $color1 !important;
            border-radius: 30px;

        }
    }

    .doneerknop {
        color: $color5 !important;
        background-color: $color1;
        padding: 10px;
        border: 1px;
        border-radius: 30px;

    }
}

/* HOMEPAGINA*/

.contact-section-home {
    background-color: $color2;

    .h1ondertitel {
        color: $color6;
        font-family: $fontset2;
        font-size: 32px;

        @media (max-width: $breekpunt2) {
            font-size: 20px;
            text-align: center;
        }
    }

    .imgheader {
        margin-top: 20%;

        @media (max-width: $breekpunt1) {
            margin-top: 0%;
            padding-bottom: 5%;
        }

        @media (max-width: $breekpunt2) {
            margin-top: 0%;
        }
    }

    .donkerblauw {
        background-color: $color1;
        border: none;
        color: $color5;
        border-radius: 40px;
        padding: 15px 100px;
        margin-bottom: 80px;
        margin-top: 20px;

        @media (max-width: $breekpunt1) {
            margin: 0 auto;
        }

        @media (max-width: $breekpunt2) {
            margin: 0 auto;
        }
    }
}

/* Cards */
.homepagina {
    .card {
        background-color: $color5;
        margin-top: 60px;
        margin-bottom: 40px;

        .card-img-top {
            display: block;
            margin: 0 auto;
            width: 70%;
        }

        .card-text {
            font-family: $fontset2;
            text-align: center;
            color: $color6;
            margin-top: 40px;
            font-size: 18px;

            @media (max-width: $breekpunt3) {
                font-size: 18px;
                color: $color6;
            }
        }

        .btn-primary {
            background-color: $color2;
            color: $color6;
            border-radius: 40px;
            padding: 15px;
            margin: 40px 20px 20px 20px;
            border: none;
            display: block;

        }

        .card-title {
            font-size: 35px;
            color: $color6;
            font-family: "Work Sans", sans-serif;
            text-align: center;
            color: $color6;
            font-weight: 400;

            @media (max-width: $breekpunt2) {
                font-size: 20px;
                color: $color6;
            }

            @media (max-width: $breekpunt3) {
                font-size: 30px;
                color: $color6;
            }
        }
    }
}

/* OVER pagina*/
.over {
    margin-top: -20px;
}

.card-body {
    @media (max-width: $breekpunt3) {
        margin-top: 0px;
        padding: 0px;
        text-align: center;
    }

    .hoofdkolom {
        margin-top: 5rem;

        .kleurvlak {
            background-color: $color1;
            width: 1%;
            height: 100px;
            border-radius: 20px;

            @media (max-width: $breekpunt3) {
                display: none;
            }
        }

        .tekstvlak {
            width: 80%;
            left: 30px;
            top: -135px;
            position: relative;
            z-index: 2;
            color: black;

            .card-titel {
                font-size: 35px;
                color: $color6;
                font-family: "Work Sans", sans-serif;
                color: $color1;
                font-weight: 400;

                @media (max-width: $breekpunt3) {
                    text-align: center;
                }
            }

            .betekenis {
                font-family: $fontset1;
                text-align: left;
                color: $color1;
                font-weight: 800;
                font-size: 35px;

                &:first-of-type {
                    margin-top: 2rem;

                    @media (max-width: $breekpunt3) {
                        margin-top: 7rem;
                        text-align: center;
                    }
                }
            }

            .uitleg {
                font-size: 18px;
                color: $color6;

                @media (max-width: $breekpunt3) {
                    font-size: 15px;
                }

            }

            .quote {
                font-family: $fontset2;
                text-align: left;
                color: $color1;
                font-weight: 400;
                font-size: 25px;

                @media (max-width: $breekpunt3) {
                    font-size: 18px;
                    text-align: center;

                }

            }

            .btn-primary-doneer {
                background-color: $color1;
                color: $color5;
                border-radius: 40px;
                padding: 10px 80px;
                margin-top: 20px;

            }
        }

    }

}

/* ZELFHULPGROEP*/

/* flipcards*/
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/* position the front and back side */
.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.pictures {
    margin-top: 40px;
}

/* style the back side */
.flip-card-back {
    background-color: $color2;
    color: $color5;
    transform: rotateY(180deg);

    .test {
        padding-top: 30px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .contactme {
        background-color: $color1;
        padding-top: 20px;
        padding-bottom: 2px;

        .a {
            color: $color5 !important;
        }
    }
}

.carda {
    color: $color5;
}

.flip-card {
    background-color: transparent;
    height: 300px;

    .flip-card-inner {
        position: relative;
        width: 300px;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
    }

    @media (max-width: $breekpunt1) {
        margin-bottom: 5%;
    }

    @media (max-width: $breekpunt3) {
        margin-bottom: 5%;
    }
}





/* zelfhulpgroep form */


.contact-formular {
    h3 {
        padding-top: 40px;
        padding-bottom: 40px;
        font-family: $fontset1;
        text-align: left;
        color: $color1;
        font-weight: 800;
        font-size: 35px;
        margin-top: 80px;

        @media (max-width: $breekpunt3) {
            text-align: center;
        }
    }

    .form-group {
        border: none;
        padding-bottom: 5px;

        .text {
            font-family: $fontset2;
            width: 100%;
            padding: 15px;
            border: 2px solid;
            color: $color4;
        }

        @media (max-width: $breekpunt3) {
            text-align: center;
        }
    }


    .btnhelp {
        background-color: $color1;
        border: none;
        color: $color5;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 40px;
        padding-right: 40px;
        border-radius: 30px;
        margin-top: 40px;
        margin-bottom: 40px;
    }
}

.imagediv {
    float: right;
}

.imagediv .showonhover {
    background-color: $color5;
    border: 1px solid $color4;
    border-radius: 30px;
    padding: 10px;
    color: color6;
    width: 100%;
    display: block;
    text-align: center;
    cursor: pointer;
}

/* CONTACT pagina*/

.contact-section {
    background-color: $color2;
}

.contact {
    background-color: $color1;
    padding: 3% 0% 3% 3%;
    margin-top: 10%;
    margin-bottom: 21%;

    @media (max-width: $breekpunt3) {
        text-align: center;

    }



    .witdik {
        color: $color5;
        font-size: 34px;
        font-family: $fontset1;
        font-weight: 800;
    }
}

.white {
    color: $color5;
}

.vakrechts {
    background-color: $color5;
    margin-top: 10%;
    width: 100%;
    padding: 40px;
    padding-right: 60px;
    margin-bottom: 21%;


    @media (max-width: $breekpunt3) {
        text-align: center;
        margin-bottom: 0%;
        margin-top: 0%;
    }

}

.form-control {
    background-color: $color5 !important;
    border: $color4 1px solid !important;
    border-radius: 0px;
}


.btn-verzend {
    background-color: $color1;
    border-radius: 30px;
    padding: 10px;
    margin-left: 8px;
    color: $color5;
    padding-left: 40px;
    padding-right: 40px;
    align-items: center;

}

/* donation forms */

.donatie {

    @media (max-width: $breekpunt3) {
        text-align: center;
    }

    .titel {
        font-family: $fontset2;
        color: $color1;
        font-weight: 700;
        font-size: 20px;
        margin-top: -20px;
    }

    .pdonatie {
        font-size: 18px;
        color: $color3;
    }

}

a {
    text-decoration: none;
}

a:hover {
    color: $color5;
}


.achtergrondkl {
    background-color: $color7;
    text-align: center;
    margin-top: 80px;
}

.btn-doneer {
    background-color: $color8 !important;
    color: $color6;
    border: none;
    padding: 5%;
    border-radius: 20px;
    margin-top: 7%;
    margin-bottom: 7%;
    margin-left: 7%;
}

.btn-doneerform {
    background-color: $color8 !important;
    color: $color6;
    border: none;
    padding: 5%;
    border-radius: 20px;
    margin-top: 7%;
    margin-bottom: 7%;
    margin-left: 4%;
    margin-right: 4%;
    width: 90%;

}

.form-control {
    background-color: $color5;
    border: none;
    margin-bottom: 7%;

}

.form-check-label {
    color: $color5;
    font-size: 12px;

}

.pad {
    padding-top: 30px;
}

.cijfer {
    color: $color1;
    font-size: 60px;
    font-weight: 800;
}

.spac {
    margin-top: 40px;

}


/* Footer */

footer.foeter {
    padding: 0 20px;
    bottom: 0px;
    width: 100%;
    height: 80px;
    background-color: $color1;
    display: flex;

    .footer_container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $color5;
        font-family: $fontset2;


        a {
            i {
                font-size: 1em;
                line-height: 60px;
                color: $color5;
                margin: 0.5rem;

            }
        }

        .linkerkant {
            line-height: 60px;
            color: $color5;
        }
    }
}