@import url("https://fonts.googleapis.com/css?family=Open+Sans|Work+Sans");
* {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*Titels/Paragrafen*/
p {
  color: black;
}

.tussentitel {
  font-family: "Open Sans", sans-serif;
  color: #5B5A5C;
  font-size: 32px;
}

h1 {
  color: #646BEB;
  font-size: 90px;
  font-family: "Work Sans", sans-serif;
  font-weight: 800;
  margin-top: 10%;
  margin-bottom: 20px;
}

@media (max-width: 450px) {
  h1 {
    font-size: 20px;
    text-align: center;
  }
}

@media (max-width: 650px) {
  h1 {
    font-size: 65px;
    text-align: center;
  }
}

@media (max-width: 1200px) {
  h1 {
    font-size: 50px;
  }
}

.h3ondertitel {
  font-size: 18px;
  color: #5B5A5C;
}

@media (max-width: 450px) {
  .h3ondertitel {
    font-size: 15px;
    text-align: center;
    padding: 10px;
  }
}

/* Navigatiebar*/
.nav {
  background-color: #6BDAED !important;
}

.navbar {
  background-color: white !important;
}

.navbar-brand {
  font-family: "Work Sans", sans-serif;
  color: #646BEB !important;
  font-weight: 800;
  margin-top: 10px;
}

.nav-item .nav-link {
  padding-right: 1em !important;
  color: black !important;
  margin-top: 10px;
}

.nav-item .nav-link:hover {
  border: 2px #646BEB solid;
  border-radius: 30px;
}

.nav-item .nav-link:active {
  border: 1px #646BEB !important;
  border-radius: 30px;
}

.nav-item .doneerknop {
  color: white !important;
  background-color: #646BEB;
  padding: 10px;
  border: 1px;
  border-radius: 30px;
}

/* HOMEPAGINA*/
.contact-section-home {
  background-color: #6BDAED;
}

.contact-section-home .h1ondertitel {
  color: black;
  font-family: "Open Sans", sans-serif;
  font-size: 32px;
}

@media (max-width: 650px) {
  .contact-section-home .h1ondertitel {
    font-size: 20px;
    text-align: center;
  }
}

.contact-section-home .imgheader {
  margin-top: 20%;
}

@media (max-width: 450px) {
  .contact-section-home .imgheader {
    margin-top: 0%;
    padding-bottom: 5%;
  }
}

@media (max-width: 650px) {
  .contact-section-home .imgheader {
    margin-top: 0%;
  }
}

.contact-section-home .donkerblauw {
  background-color: #646BEB;
  border: none;
  color: white;
  border-radius: 40px;
  padding: 15px 100px;
  margin-bottom: 80px;
  margin-top: 20px;
}

@media (max-width: 450px) {
  .contact-section-home .donkerblauw {
    margin: 0 auto;
    width: 100%;
  }
}

@media (max-width: 650px) {
  .contact-section-home .donkerblauw {
    margin: 0 auto;
    width: 100%;
    margin-top: 5%;
  }
}

/* Cards */
.homepagina .card {
  background-color: white;
  margin-top: 60px;
  margin-bottom: 40px;
}

.homepagina .card .card-img-top {
  display: block;
  width: 70%;
}

@media (max-width: 1200px) {
  .homepagina .card .card-img-top {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
}

.homepagina .card .card-text {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  color: black;
  margin-top: 40px;
  font-size: 18px;
  padding: 10px;
}

@media (max-width: 1200px) {
  .homepagina .card .card-text {
    font-size: 18px;
    color: black;
    padding: 30px;
  }
}

.homepagina .card .btn-primary {
  background-color: #6BDAED;
  color: black;
  border-radius: 40px;
  padding: 15px;
  margin: 40px 20px 20px 20px;
  border: none;
  display: block;
}

@media (max-width: 1200px) {
  .homepagina .card .btn-primary {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 10%;
  }
}

.homepagina .card .card-title {
  font-size: 35px;
  color: black;
  font-family: "Work Sans", sans-serif;
  text-align: center;
  color: black;
  font-weight: 400;
}

@media (max-width: 650px) {
  .homepagina .card .card-title {
    font-size: 20px;
    color: black;
  }
}

@media (max-width: 1200px) {
  .homepagina .card .card-title {
    font-size: 30px;
    color: black;
  }
}

/* OVER pagina*/
.over {
  margin-top: -20px;
}

@media (max-width: 1200px) {
  .card-body {
    margin-top: 0px;
    padding: 0px;
    text-align: center;
  }
}

.card-body .hoofdkolom {
  margin-top: 5rem;
}

.card-body .hoofdkolom .kleurvlak {
  background-color: #646BEB;
  width: 1%;
  height: 100px;
  border-radius: 20px;
}

@media (max-width: 1200px) {
  .card-body .hoofdkolom .kleurvlak {
    display: none;
  }
}

.card-body .hoofdkolom .tekstvlak {
  width: 80%;
  left: 30px;
  top: -135px;
  position: relative;
  z-index: 2;
  color: black;
}

.card-body .hoofdkolom .tekstvlak .card-titel {
  font-size: 35px;
  color: black;
  font-family: "Work Sans", sans-serif;
  color: #646BEB;
  font-weight: 400;
}

@media (max-width: 1200px) {
  .card-body .hoofdkolom .tekstvlak .card-titel {
    text-align: center;
  }
}

.card-body .hoofdkolom .tekstvlak .betekenis {
  font-family: "Work Sans", sans-serif;
  text-align: left;
  color: #646BEB;
  font-weight: 800;
  font-size: 35px;
}

.card-body .hoofdkolom .tekstvlak .betekenis:first-of-type {
  margin-top: 2rem;
}

@media (max-width: 1200px) {
  .card-body .hoofdkolom .tekstvlak .betekenis:first-of-type {
    margin-top: 7rem;
    text-align: center;
  }
}

.card-body .hoofdkolom .tekstvlak .uitleg {
  font-size: 18px;
  color: black;
}

@media (max-width: 1200px) {
  .card-body .hoofdkolom .tekstvlak .uitleg {
    font-size: 15px;
  }
}

.card-body .hoofdkolom .tekstvlak .quote {
  font-family: "Open Sans", sans-serif;
  text-align: left;
  color: #646BEB;
  font-weight: 400;
  font-size: 25px;
}

@media (max-width: 1200px) {
  .card-body .hoofdkolom .tekstvlak .quote {
    font-size: 18px;
    text-align: center;
  }
}

.card-body .hoofdkolom .tekstvlak .btn-primary-doneer {
  background-color: #646BEB;
  color: white;
  border-radius: 40px;
  padding: 10px 80px;
  margin-top: 20px;
}

@media (max-width: 1200px) {
  .card-body .hoofdkolom .tekstvlak .btn-primary-doneer {
    width: 100%;
  }
}

/* ZELFHULPGROEP*/
/* flipcards*/
.flip-card:hover .flip-card-inner {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

/* position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.pictures {
  margin-top: 40px;
}

/* style the back side */
.flip-card-back {
  background-color: #6BDAED;
  color: white;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.flip-card-back .test {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.flip-card-back .contactme {
  background-color: #646BEB;
  padding-top: 20px;
  padding-bottom: 2px;
}

.flip-card-back .contactme .a {
  color: white !important;
}

.carda {
  color: white;
}

.flip-card {
  background-color: transparent;
  height: 300px;
}

.flip-card .flip-card-inner {
  position: relative;
  width: 300px;
  height: 100%;
  text-align: center;
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  margin: 0 auto;
}

@media (max-width: 450px) {
  .flip-card {
    margin-bottom: 5%;
  }
}

@media (max-width: 1200px) {
  .flip-card {
    margin-bottom: 5%;
  }
}

/* zelfhulpgroep form */
.contact-formular h3 {
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: "Work Sans", sans-serif;
  text-align: left;
  color: #646BEB;
  font-weight: 800;
  font-size: 35px;
  margin-top: 80px;
}

@media (max-width: 1200px) {
  .contact-formular h3 {
    text-align: center;
  }
}

@media (max-width: 1200px) {
  .contact-formular h3 {
    width: 100%;
  }
}

.contact-formular .btnhelp {
  background-color: #646BEB;
  border: none;
  color: white;
  padding: 10px 40px;
  border-radius: 30px;
}

@media (max-width: 1200px) {
  .contact-formular .btnhelp {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

@media (max-width: 1200px) {
  .upload-btn-wrapper {
    text-align: center;
    width: 100%;
  }
}

.btn {
  border: 1px solid #DCDCDC;
  color: #5B5A5C;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  border-radius: 30px;
}

@media (max-width: 1200px) {
  .btn {
    width: 100%;
    margin-top: 20px;
  }
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

/* CONTACT pagina*/
.contact-section {
  background-color: #6BDAED;
}

.contact-section-back {
  background-color: #6BDAED;
}

@media (max-width: 1200px) {
  .contact-section-back {
    background-color: white;
  }
}

.contact {
  background-color: #646BEB;
  padding: 3% 0% 3% 3%;
  margin-top: 10%;
  margin-bottom: 21%;
}

@media (max-width: 1200px) {
  .contact {
    text-align: center;
    margin: 0;
  }
}

.contact .witdik {
  color: white;
  font-size: 34px;
  font-family: "Work Sans", sans-serif;
  font-weight: 800;
}

.white {
  color: white;
}

.vakrechts {
  background-color: white;
  margin-top: 10%;
  width: 100%;
  padding: 40px;
  padding-right: 60px;
  margin-bottom: 21%;
}

@media (max-width: 1200px) {
  .vakrechts {
    text-align: center;
    margin-bottom: 0%;
    margin-top: 0%;
  }
}

.form-control {
  background-color: white !important;
  border: #DCDCDC 1px solid !important;
  border-radius: 0px;
}

@media (max-width: 1200px) {
  .form-group {
    text-align: center;
  }
}

@media (max-width: 1200px) {
  .btn-help {
    display: inline-block;
  }
}

.btn-verzend {
  background-color: #646BEB;
  border-radius: 30px;
  padding: 10px;
  margin-left: 8px;
  color: white;
  padding-left: 40px;
  padding-right: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1200px) {
  .btn-verzend {
    width: 100%;
  }
}

/* donation forms */
@media (max-width: 1200px) {
  .donatie {
    text-align: center;
  }
}

.donatie .titel {
  font-family: "Open Sans", sans-serif;
  color: #646BEB;
  font-weight: 700;
  font-size: 20px;
  margin-top: -20px;
}

.donatie .pdonatie {
  font-size: 18px;
  color: #5B5A5C;
}

.donatie .progress {
  height: 30px;
  border-radius: 25px;
  margin-bottom: 24px;
  margin-top: 40px;
}

.donatie .progress-bar {
  color: white;
  background-color: #646BEB;
}

.right {
  text-align: right;
}

a {
  text-decoration: none;
}

a:hover {
  color: white;
}

.achtergrondkl {
  background-color: #B37D62;
  text-align: center;
  margin-top: 80px;
}

.btn-doneer {
  background-color: #F0CCA0 !important;
  color: black;
  border: none;
  padding: 5%;
  border-radius: 20px;
  margin-top: 7%;
  margin-bottom: 7%;
  margin-left: 7%;
  margin-bottom: 7%;
}

@media (max-width: 1200px) {
  .btn-doneer .btn-help {
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 0%;
  }
}

.btn-doneerform {
  background-color: #F0CCA0 !important;
  color: black;
  border: none;
  padding: 5%;
  border-radius: 20px;
  margin-top: 7%;
  margin-bottom: 7%;
  margin-left: 4%;
  margin-right: 4%;
  width: 90%;
}

.form-control {
  background-color: white;
  border: none;
  margin-bottom: 2%;
}

.form-check-label {
  color: white;
  font-size: 12px;
}

.pad {
  padding-top: 30px;
}

.cijfer {
  color: #646BEB;
  font-size: 60px;
  font-weight: 800;
}

.spac {
  margin-top: 40px;
}

/* Footer */
footer.foeter {
  padding: 0 20px;
  bottom: 0px;
  width: 100%;
  height: 80px;
  background-color: #646BEB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer.foeter .footer_container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-family: "Open Sans", sans-serif;
}

footer.foeter .footer_container a i {
  font-size: 1em;
  line-height: 60px;
  color: white;
  margin: 0.5rem;
}

footer.foeter .footer_container .linkerkant {
  line-height: 60px;
  color: white;
}
/*# sourceMappingURL=style.css.map */