@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Work+Sans");
/* Navigatiebar*/
.nav {
  background-color: #6BDAED !important;
}

.navbar {
  background-color: white !important;
}

.navbar-brand {
  font-family: "Work Sans", sans-serif;
  color: #646BEB !important;
  font-weight: 800;
  margin-top: 10px;
}

.nav-item .nav-link {
  padding-right: 1em !important;
  color: black !important;
  margin-top: 10px;
}

.nav-item .nav-link:hover {
  border: 2px #646BEB solid;
  border-radius: 30px;
}

.nav-item .nav-link:active {
  border: 1px #646BEB !important;
  border-radius: 30px;
}

.nav-item .doneerknop {
  color: white !important;
  background-color: #646BEB;
  padding: 10px;
  border: 1px;
  border-radius: 30px;
}

/*Titels/Paragrafen*/
p {
  color: black;
}

.tussentitel {
  font-family: "Open Sans", sans-serif;
  color: #5B5A5C;
  font-size: 32px;
}

h1 {
  color: #646BEB;
  font-size: 90px;
  font-family: "Work Sans", sans-serif;
  font-weight: 800;
  margin-top: 10%;
  margin-bottom: 20px;
}

@media (max-width: 450px) {
  h1 {
    font-size: 40px;
  }
}

@media (max-width: 650px) {
  h1 {
    font-size: 60px;
  }
}

@media (max-width: 1200px) {
  h1 {
    font-size: 60px;
  }
}

h2 {
  font-family: "Work Sans", sans-serif;
  text-align: center;
  color: black;
  font-weight: 400;
}

h3 {
  font-family: "Work Sans", sans-serif;
  text-align: left;
  color: #646BEB;
  font-weight: 800;
  font-size: 35px;
  margin-top: 10%;
}

.h3ondertitel {
  font-size: 18px;
  color: #5B5A5C;
  margin-right: 100px;
}

/* Homepagina*/
.contact-section-home {
  background-color: #6BDAED;
}

.contact-section-home .h1ondertitel {
  color: black;
  font-family: "Open Sans", sans-serif;
  font-size: 32px;
}

@media (max-width: 450px) {
  .contact-section-home .h1ondertitel {
    font-size: 22px;
  }
}

@media (max-width: 650px) {
  .contact-section-home .h1ondertitel {
    font-size: 22px;
  }
}

.contact-section-home .imgheader {
  margin-top: 20%;
}

@media (max-width: 450px) {
  .contact-section-home .imgheader {
    margin-top: 0%;
    padding-bottom: 5%;
  }
}

@media (max-width: 650px) {
  .contact-section-home .imgheader {
    margin-top: 0%;
  }
}

.contact-section-home .donkerblauw {
  background-color: #646BEB;
  border: none;
  color: white;
  border-radius: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 100px;
  padding-right: 100px;
  margin-bottom: 80px;
  margin-top: 20px;
}

/* Cards homepagina */
.homepagina {
  margin: 0 auto;
  width: 100%;
  position: relative;
}

.homepagina .card {
  background-color: white;
  margin-top: 60px;
  margin-bottom: 40px;
}

.homepagina .card .card-img-top {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.homepagina .card .card-text {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  color: black;
  margin-top: 40px;
  font-size: 18px;
}

.homepagina .card .btn-primary {
  background-color: #6BDAED;
  color: black;
  border-radius: 40px;
  padding: 15px;
  margin-left: 20px;
  margin-right: 20px;
  border: none;
  display: block;
  margin-top: 40px;
  margin-bottom: 20px;
}

/* Over pagina*/
.over {
  margin-top: -20px;
}

.card-body .hoofdkolom {
  margin-top: 5rem;
}

.card-body .hoofdkolom .kleurvlak {
  background-color: #646BEB;
  width: 1%;
  height: 100px;
  border-radius: 20px;
}

.card-body .hoofdkolom .tekstvlak {
  width: 80%;
  left: 30px;
  top: -135px;
  position: relative;
  z-index: 2;
  color: black;
}

.card-body .hoofdkolom .tekstvlak .betekenis {
  font-family: "Work Sans", sans-serif;
  text-align: left;
  color: #646BEB;
  font-weight: 800;
  font-size: 35px;
}

.card-body .hoofdkolom .tekstvlak .betekenis:first-of-type {
  margin-top: 2rem;
}

.card-body .hoofdkolom .tekstvlak .uitleg {
  font-size: 18px;
  color: black;
}

.card-body .hoofdkolom .tekstvlak .quote {
  font-family: "Open Sans", sans-serif;
  text-align: left;
  color: #646BEB;
  font-weight: 400;
  font-size: 25px;
}

.card-body .hoofdkolom .tekstvlak .btn-primary-doneer {
  background-color: #646BEB;
  color: white;
  border-radius: 40px;
  padding: 10px;
  padding-left: 80px;
  padding-right: 80px;
  margin-top: 20px;
}

/* Zelfhulpgroep 

.flip-card {
    background-color: none;
    width: 300px;
    height: 300px;
    perspective: 1000px;
    margin: 29px;
    backface-visibility: hidden;


    .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.6s;
        transform-style: preserve-3d;
        box-shadow: 0 1px 2px 0 $color1;

    }
}

.flip-card:hover {

    .flip-card-inner {
        transform: rotateY(180deg);

    }

    .flip-card-front,
        {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
    }

    .flip-card-back {
        background-color: $color2 !important;
        color: white;
        transform: rotateY(180deg);
        z-index: 1;
        padding: 20px;

        }
    }
*/
/* horizontal flip*/
.flip-card:hover .flip-card-inner {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.pictures {
  margin-top: 20px;
}

/* Style the back side */
.flip-card-back {
  background-color: #6BDAED;
  color: white;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.flip-card-back .test {
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

.flip-card-back .contactme {
  background-color: #646BEB;
  padding-top: 20px;
  padding-bottom: 2px;
}

.flip-card-back .contactme .a {
  color: white !important;
}

.carda {
  color: white;
}

/*Aanpassingen — zelfhulpgroep*/
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
}

.flip-card .flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

/* zelfhulpgroep forms 

*/
.contact-formular {
  border: none;
}

.contact-formular h3 {
  padding-top: 3rem;
}

.contact-formular .text {
  font-size: 16px;
  width: 100%;
  padding: 15px;
  border: 2px solid;
  margin: 10px 0px;
  color: #DCDCDC;
}

.contact-formular .submit {
  background-color: white;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 0px;
}

.contact-formular .btnContact {
  background-color: white;
}

/*Aanpassingen — contact pagina*/
.contact-section {
  background-color: #6BDAED;
}

.contact {
  background-color: #646BEB;
  padding: 3% 0% 3% 3%;
  margin-top: 5%;
}

.contact .witdik {
  color: white;
  font-size: 34px;
  font-family: "Work Sans", sans-serif;
  font-weight: 800;
}

.white {
  color: white;
}

.vakrechts {
  background-color: white;
  margin-top: 5%;
  width: 100%;
  padding: 10px;
}

.form-control {
  background-color: white !important;
  border: #DCDCDC 1px solid !important;
  border-radius: 0px;
}

a:hover {
  text-decoration: none;
  color: #DCDCDC;
}

.btn-contact {
  background-color: #646BEB;
  border-radius: 30px;
  padding: 10px;
  color: white;
}

/* donation forms */
.donatie .pdonatietitel {
  font-size: 28px;
  color: #646BEB;
  margin-right: 100px;
  font-weight: 700;
}

.donatie .pdonatie {
  font-size: 18px;
  color: #5B5A5C;
  margin-right: 100px;
}

.donation-box {
  width: 390px;
  z-index: -10;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: -20%;
}

.btndonation {
  background-color: #646BEB;
  width: 30%;
  color: white;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 18px;
  bottom: 0px;
  position: absolute;
  font-weight: 800;
}

.share-button {
  background-color: #646BEB;
  width: 100%;
  color: white;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 18px;
  bottom: 0px;
  position: absolute;
  cursor: pointer;
  font-weight: 800;
}

.color {
  background-color: #7c613c;
}

/*
.beardonate{
    position: relative;
}
.above{
    position:absolute;
    bottom: 50%;
    left: 50%;
}*/
.donation-box .amount {
  display: block;
  position: relative;
  margin: 10%;
}

.donation-box .amount .button {
  width: 20%;
  background-color: #646BEB;
  margin-bottom: 10px;
  text-align: center;
  color: white;
  padding: 15px 0px 15px 0px;
  border-radius: 4px;
  font-size: 20px;
  cursor: pointer;
}

.donation-box .amount .button large {
  width: 60%;
}

.donation-box .amount .button:hover {
  background-color: #5B5A5C;
}

.donation-box .amount .button.selected {
  background-color: #5B5A5C;
}

.donation-box .amount .button input {
  font-size: 20px;
  font-weight: 500;
  border: white;
  background-color: transparent;
  color: white;
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  border-bottom: 2px dashed white;
}

.set-amount {
  max-width: 50%;
}

.checkbox {
  position: absolute;
  top: 242px;
  left: 13px;
}

.checkbox label {
  position: relative;
  top: -8px;
  font-size: 13px;
  color: #5B5A5C;
}

.checkbox {
  -webkit-appearance: none;
  background-color: white;
  border: 1px solid #5B5A5C;
  padding: 9px;
  border-radius: 3px;
  display: inline-block;
  position: relative;
  outline: none;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

.checkbox:checked {
  border: 1px solid none;
  color: white;
}

.checkbox:checked:after {
  content: '\2714';
  font-size: 14px;
  position: absolute;
  top: 0px;
  left: 3px;
  color: white;
}

/*Aanpassingen — doneer pagina */
a {
  text-decoration: none;
}

a:hover {
  color: #6BDAED;
}

.titel {
  font-family: "Open Sans", sans-serif;
  color: #646BEB;
  font-weight: 700;
  font-size: 20px;
  margin-top: -20px;
}

.achtergrondkl {
  background-image: url("../images/doneer1.png");
  float: right;
}

.btn-doneer {
  background-color: #646BEB !important;
  color: white;
  border: none;
  padding: 5%;
  border-radius: 20px;
  margin-top: 7%;
  margin-left: 7%;
}

.btn-doneerform {
  background-color: #646BEB !important;
  color: white;
  border: none;
  padding: 5%;
  border-radius: 20px;
  margin-top: 7%;
  margin-left: 2%;
  width: 90%;
}

.form-control {
  background-color: white;
  border: none;
  margin: 2%;
}

.form-check-label {
  color: white;
  font-size: 12px;
}

.pad {
  padding-top: 30px;
}

.cijfer {
  color: #646BEB;
  font-size: 60px;
  font-weight: 800;
}

#stripe {
  border-left: #646BEB 5px solid;
  width: 0;
  height: 4em;
}

.spac {
  margin-top: 10%;
}

/* Footer */
footer.foeter {
  padding: 0 20px;
  bottom: 0px;
  width: 100%;
  height: 80px;
  background-color: #646BEB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer.foeter .footer_container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-family: "Open Sans", sans-serif;
}

footer.foeter .footer_container a i {
  font-size: 1em;
  line-height: 60px;
  color: white;
  margin: 0.5rem;
}

footer.foeter .footer_container .linkerkant {
  line-height: 60px;
  color: white;
}
/*# sourceMappingURL=style.css.map */